<h1>Contact</h1>


<div class="container">
  <div class="row">
    <h3 class="text-center">Contact Me</h3>
    <div class="col-md-4 col-md-offset-4">
      <%= flash[:notice] %>
      <div class="well">
        <%= form_for @contact do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :comments %>
            <%= f.text_area :comments, class: 'form-control' %>
          </div>
          <%= f.submit 'Submit', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="logos">
  <a href="www.facbook.com">
    <img src="/assets/logos/fb.png" height="135px" width="135px">
  </a>
  
  <a href="www.instagram.com">
    <img src="/assets/logos/insta.png" height="100px" width="100px">
  </a>
  
  <a href="www.linkedin.com">
    <img src="/assets/logos/linked.png" height="100px" width="100px">
  </a>
</div>